extends layout

block content
	if user
		section#container
			section#chat
				section#messages
				section#conectados
				br
				section#say
					input
	else
		section#conect
			a(href='/auth/facebook') Login with facebook
			br
			a(href='/auth/twitter') Login with twitter